#logo {
    max-width:50%;
    display:block;
    margin:0 auto;
}  
nav{
    width: 100%;
    height: 70px;
    position: relative;
    background: #F6F6F6;
    
}
.drawer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
    padding: 0 1em;
}
/*ナビゲーション部分*/
.menu ul li a {
    display:block;
    font-weight:bold;
    padding: 2em;
    border-bottom: 1px dotted #CCC;
    color:#333;
    text-decoration:none;
}   
.menu ul li a:hover {
    background-color:rgba(0,0,0,0.5);
    color:orange;
}
.menu{
    text-align:center;
    background-color:rgba(255,255,255,0.5);
    transition: .5s ease;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
}
/*OPEN時の動き*/
.menu.open {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
}
/*トグルボタンのスタイルを指定*/
.Toggle {
    display: block;
    position: fixed;    /* bodyに対しての絶対位置指定 */
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 3;
    right:15px;
}
.Toggle span {
    display: block;
    position: absolute;
    width: 50px;
    border-bottom: solid 4px #333;
    -webkit-transition: .35s ease-in-out; /*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;    /*変化の速度を指定*/
    transition: .35s ease-in-out;     /*変化の速度を指定*/
}
.Toggle span:nth-child(1) {
    top:5px;
} 
.Toggle span:nth-child(2) {
    top: 18px;
}
.Toggle span:nth-child(3) {
    top: 32px;
}

.Toggle.active span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* 2番目と3番目のspanを45度に */
.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (min-width: 600px) {
    
    header::after{      
        display:none;
    } 
    nav{
        display: flex;  
    }   
    .Toggle{
        display: none;
    }
    .menu{
        width: 100%;
        background-color: transparent;
        margin-top:0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .menu ul{
        height: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
    .menu ul li a{
        padding: 0 1em;
        border-bottom: none;
    }
    .menu ul li a:hover
    {
        background-color:transparent;
    }
}

.foot-wrap {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.foot-wrap .menu-left, .menu-center, .menu-right {
    display: inline-block;
    width: 20%;
    margin: 50px auto;
}

.foot-wrap ul {
    list-style: none;
    padding: 0;
    line-height:40px;
}

.foot-wrap h3 {
    border-bottom: 3px solid #2ac5b3;
    padding: 10px;
}

.foot-wrap a {
    text-decoration: none;
    color: #fff;
    transition: all 500ms 0s ease;
}

.foot-wrap a:hover {
    color: deeppink;
    font-size: 20px;
}

.foot-wrap .cmark {
    display: block;
    padding: 10px;
    border-top: 1px solid gray;
    width: 80%;
    margin: 0 auto;
    color: gray;
}

@media screen and (max-width: 900px) {
    .foot-wrap .menu-left, .menu-center, .menu-right {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .foot-wrap .cpr {
        display: inline;
    }
}

@media screen and (max-width: 480px) {
    .foot-wrap .menu-left, .menu-center, .menu-right {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .foot-wrap .cpr {
        display: inline;
    }
}