.header {
    display: flex;
    height: 90px;
    width: 100%;
    background-color: darkgrey;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;

    top: 0px;

    color: white;
    position: fixed;
}

.title {
    margin-left: 30px;
    margin-right: auto;
}

.menu-group{
    margin-right: 50px;
}

.menu-group a{
    color: white;
    transition: all 500ms 0s ease;
}

.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.menu-group a:hover{
    color: deeppink;
}

.foot-wrap {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.foot-wrap .menu-left, .menu-center, .menu-right {
    display: inline-block;
    width: 20%;
    margin: 50px auto;
}

.foot-wrap ul {
    list-style: none;
    padding: 0;
    line-height:40px;
}

.foot-wrap h3 {
    border-bottom: 3px solid #2ac5b3;
    padding: 10px;
}

.foot-wrap a {
    text-decoration: none;
    color: #fff;
    transition: all 500ms 0s ease;
}

.foot-wrap a:hover {
    color: deeppink;
    font-size: 20px;
}

.foot-wrap .cmark {
    display: block;
    padding: 10px;
    border-top: 1px solid gray;
    width: 80%;
    margin: 0 auto;
    color: gray;
}

@media screen and (max-width: 900px) {
    .foot-wrap .menu-left, .menu-center, .menu-right {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .foot-wrap .cpr {
        display: inline;
    }
}