body{
    margin: 0;
    background-color: #ccc;
}

a {
    color: black;
    text-decoration: none;
    margin: 0;
}

.twitter{
    color: #55cccc;
    transition: all 300ms 0s ease;
}

.about-background a:hover{
    color: deeppink;
    font-size: 25px;
}

.rule-background a:hover{
    color: deeppink;
    font-size: 25px;
}

p{
    font-size: 20px;
}

.content{
    margin: 0 8px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
}

.content-item{
    margin-right: 100px;
    margin-left: 100px;
    color: white;

}

#ABOUT{
    height: 1000px;
    background: url(../images/497AACCB-EF6A-4D30-9626-8B0338090AC6.png) no-repeat center / cover;
}

#RULE{
    height: 1000px;
    background: url(../images/IMG_7992.jpg) no-repeat center / cover;
}

#CONTACT{
    height: 1000px;
    background: url(../images/d21d09.jpg) no-repeat center / cover;
}

#TIMELINE{
    margin: 50px;
    height: 1000px;
    text-align: center;
}

.contact-background{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 150px 100px;
    height: 700px;
    text-align: center;
}

.about-background {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 150px 100px;
    height: 700px;
    text-align: center;
}

.rule-background {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 150px;
    padding: 150px 200px;
    height: 700px;
    text-align: left;
}

@media screen and (max-width: 900px) {
	/* 900px以下に適用されるCSS（タブレット用） */

    .content{
        height: 2300px;
    }

    .content-item p{
        font-size: 15px
    }

    .rule-background {
        background-color: rgba(0, 0, 0, 0.6);
        margin-top: 150px;
        padding: 150px 100px;
        height: 700px;
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    p{
        font-size: 15px;
    }

    h2{
        font-size: 20px;
    }
    
    .content{
        margin: 0 8px;
        margin-top: 100px;
        height: auto;
    }
    
    .content-item{
        margin-right: 30px;
        margin-left: 30px;
    }
    
    #ABOUT{
        height: auto;
        background: url(../images/IMG_4663.jpg) no-repeat center / cover;
        color: white;
    }
    
    #RULE{
        height: auto;
        background: url(../images/bass2.png) no-repeat center / cover;
        color: white;
    }

    #CONTACT{
        height: auto;
        background: url(../images/IMG_0397.jpg) no-repeat center / cover;
    }
    
    .about-background {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px 20px;
        height: auto;
        text-align: center;
    }
    
    .rule-background {
        background-color: rgba(0, 0, 0, 0.6);
        margin-top: 50px;
        padding: 30px 20px;
        height: auto;
        text-align: left;
    }

    .contact-background{
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px 20px;
        height: auto;
        text-align: center;
    }
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #ccc;
}

::-webkit-scrollbar-thumb{
    background-color: #55cccc;
}